@import '../../../global/variables/popover.scss';

:host {
    display: inline-flex;
}

:host(:focus) {
    outline: none;
}

.tooltip {
    @include popover($grey-9) {
        width: max-content;
        padding: space('xxxs') space('xxs');
        color: var(--bcm-color-grey-1);
    }
}