@import './variables/index.scss';

// All Elements
* {
    font-family: $font-roboto;
    box-sizing: border-box;
}

h1 {
    font-weight: 400;
}

// Font Weights
.weight-regular {
    font-weight: $font-regular;
}

.weight-semibold {
    font-weight: $font-semibold;
}