:host {
    display: inline-block;
}

* {
    box-sizing: border-box;
}

::-webkit-details-marker {
    display: none;
}

details {
    position: relative;
}

.split_summary {
    &:focus {
        outline: none;
    }

    &.outline {

        .caret {
            color: $grey-5;
            border-color: currentColor;
        }

        bcm-button {
            &:focus-within, &:hover, &:active, &:disabled {
                .caret {
                    color: currentColor;
                }
            }
        }

        &.open bcm-button .caret {
            color: $prime-blue-7;
        }
    }

    &.open bcm-button, &:not(.disabled) bcm-button:active {
        .caret {
            border-left-color: $prime-blue-8;
        }
    }

    &.large .caret {
        height: 38px;
        width: 40px;
    }
    
    &.medium .caret {
        height: 30px;
        width: 32px;
    }
    
    &.small .caret {
        height: 22px;
        width: 24px;
    }

    &.disabled .caret {
        border-left-color: $grey-5;
    }
    
    &.disabled.outline bcm-button:hover .caret {
        color: $grey-5;
    }
}

.caret {
    color: currentColor;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0 space('xxs');
    border-left: 1px solid $prime-blue-7;
    margin-left: 16px;
}

.items-container {
    border-radius: 4px;
    background-color: $grey-1;
    width: 150px;
    position: absolute;
    left: 0;
    display: flex;
    flex-direction: column;
    border: 1px solid $prime-blue-6;
    z-index: 999;
}