@import '../../../global/variables/typography.scss';

:host {
    display: inline-block;
}

button {
    border: none;
    outline: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: $font-roboto;
    padding: unset;

    &.rounded {
        border-radius: border-radius('circle');
    }
}

.solid {
    color: $grey-1;
    background-color: $prime-blue-6;
    border: 1px solid $prime-blue-6;

    &.outline {
        color: $grey-8;
        background-color: $grey-1;
        border-color: $grey-5;

        &:hover, &:focus {
            color: $prime-blue-5;
            background-color: $grey-1;
        }

        &:active {
            color: $prime-blue-7;
            background-color: $grey-1;
        }
    }

    &:hover, &:focus {
        background-color: $prime-blue-5;
        border-color: $prime-blue-5;;
    }

    &:active {
        background-color: $prime-blue-7;
        border-color: $prime-blue-7;
    }

    &:disabled {
        color: $grey-6 !important;
        background-color: $grey-3 !important;
        border-color: $grey-5;
        cursor: not-allowed;
    }
}

.ghost {
    color: $prime-blue-6;
    background-color: transparent;
    border: 1px solid $prime-blue-6;

    &.outline {
        color: $grey-1;
        border-color: $grey-1;
    }

    &:hover, &:focus {
        color: $prime-blue-5;
        border-color: $prime-blue-5;
    }

    &:active {
        color: $prime-blue-7;
        border-color: $prime-blue-7;
    }
    
    &:disabled {
        color: $grey-6;
        border-color: $grey-5;
        cursor: not-allowed;
    }

}

button > bcm-icon.prefix {
    margin-right: space('xxxs');
}

button > bcm-icon.suffix {
    margin-left: space('xxxs');
}

.large {
    min-height: 40px;
    min-width: 40px;

    bcm-icon.prefix {
        margin-right: space('xs');
    }

    bcm-icon.suffix {
        margin-left: space('xs');
    }

    &:not(.rounded) {
        padding: 0 space('xs');
    }
}

.medium {
    min-height: 32px;
    min-width: 32px;

    &:not(.rounded) {
        padding: 0 space('xs');
    }
}

.small {
    min-height: 24px;
    min-width: 24px;

    &:not(.rounded) {
        padding: 0 space('xxs');
    }
}