:host {
    width: 100%;
}

$slider-bounds: 60px;
$slider-track-bounds: 4px;
$slider-step-line-bounds: 10px;
$slider-step-font-size: 12px;

@mixin fix-size($size) {
    max-width: $size;
    max-height: $size;
    min-width: $size;
    min-height: $size;
}

.slider {
    display: flex;
    align-items: center;
}

/**
 * Slider direction: horizontal
 */
.slider.horizontal {
    width: 100%;
    height: $slider-bounds;
    .track-container {
        height: $slider-track-bounds;
        width: 100%;
        margin: 0 10px;
    }
}

/**
 * Slider direction: vertical
 */
.slider.vertical {
    width: $slider-bounds;
    flex-direction: column;
    .track-container {
        width: $slider-track-bounds;
        min-height: 325px;
        margin: 10px 0;
    }
}

.track-container {
    position: relative;
}

.track {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--bcm-color-grey-5);
}

.steps {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: $slider-track-bounds;
    .step {
        display: flex;
        position: relative;
        text-align: center;
        justify-content: center;
        font-size: 12px;
        color: var(--bcm-color-grey-5);
        line-height: ($slider-step-font-size * 2) + $slider-step-line-bounds + $slider-track-bounds + 1px + 1px;
        @include fix-size(1px);
        &:before, &:after {
            content: '';
            position: absolute;
            width: 1px;
            background-color: var(--bcm-color-grey-5);
            height: $slider-step-line-bounds;
        }
        &:before {
            top: calc(100% + #{$slider-track-bounds / 2} + 1px);
            left: 0;
        }
        &:after {
            bottom: calc(100% + #{$slider-track-bounds / 2} + 1px);
            left: 0;
        }
    }
}

.button-control {
    display: flex;
    flex: 0 0 32px;
    appearance: none;
    cursor: pointer;
    outline: none;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease;
    box-shadow: 0px 2px 4px rgba(54, 121, 171, 0);
    border-radius: border-radius('circle');
    background-color: var(--bcm-color-white);
    border: 1px solid var(--bcm-color-grey-5);
    color: var(--bcm-color-grey-8);
    -webkit-tap-highlight-color: transparent;
    @include fix-size(32px);
    &:hover {
        border-color: var(--bcm-color-prime-blue-7);
        color: var(--bcm-color-prime-blue-7);
        box-shadow: 0px 2px 4px rgba(54, 121, 171, 0.5);
    }
    &:active {
        border-color: var(--bcm-color-prime-blue-6);
        color: var(--bcm-color-prime-blue-6);
        box-shadow: 0px 2px 4px rgba(54, 121, 171, 0);
}
}