:host {
    width: 100%;
}

$slider-bounds: 60px;
$slider-track-bounds: 4px;
$slider-step-line-bounds: 10px;
$slider-step-font-size: 12px;

@mixin fix-size($size) {
    max-width: $size;
    max-height: $size;
    min-width: $size;
    min-height: $size;
}


/**
 * Slider Rules
 */
.slider {
    display: flex;
    align-items: center;
}

.slider.horizontal {
    width: 100%;
    height: $slider-bounds;
}

.slider.vertical {
    width: $slider-bounds;
    flex-direction: column;
}

/**
 * Track Rules
 */
.track-container {
    position: relative;
}

.track {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--bcm-color-grey-5);
}

.slider.horizontal {
    .track-container {
        height: $slider-track-bounds;
        width: 100%;
        margin: 0 10px;
    }
}

.slider.vertical {
    .track-container {
        width: $slider-track-bounds;
        min-height: 325px;
        margin: 10px 0;
    }
}

/**
 * Steps Rules
 */
.steps {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: $slider-track-bounds;
    z-index: var(--bcm-z-index-0);
}

.steps .step {
    position: relative;
    @include fix-size(1px);
    &:before, &:after {
        content: '';
        position: absolute;
        background-color: var(--bcm-color-grey-5);
    }
    &:before {
        top: calc(100% + #{$slider-track-bounds / 2} + 1px);
        left: 0;
    }
    &:after {
        bottom: calc(100% + #{$slider-track-bounds / 2} + 1px);
        left: 0;
    }
}

.steps .label {
    position: absolute;
    left: 50%;
    top: ($slider-track-bounds / 2) + $slider-step-line-bounds + 3px;
    font-size: 12px;
    line-height: 12px;;
    pointer-events: none;
    user-select: none;
    transform: translateX(-50%);
    color: var(--bcm-color-grey-5);
}

.slider.horizontal {
    .steps .step {
        &:before, &:after {
            width: 1px;
            height: $slider-step-line-bounds;
        }
        &:before {
            top: calc(100% + #{$slider-track-bounds / 2} + 1px);
            left: 0;
        }
        &:after {
            bottom: calc(100% + #{$slider-track-bounds / 2} + 1px);
            left: 0;
        }
    }
}

.slider.vertical {
    .steps {
        flex-direction: column;
        height: 100%;
        width: $slider-track-bounds;
    }
    .steps .step {
        &:before, &:after {
            width: $slider-step-line-bounds;
            height: 1px;
        }
        &:before {
            top: 0;
            right: calc(100% + #{$slider-track-bounds / 2} + 1px);
            left: auto;
        }
        &:after {
            top: 0;
            left: calc(100% + #{$slider-track-bounds / 2} + 1px);
        }
    }
    .steps .label {
        top: 50%;
        left: ($slider-track-bounds / 2) + $slider-step-line-bounds + 3px;
        transform: translateY(-50%);
    }
}

/**
 * Thumb Rules
 */
.thumb {
    position: absolute;
    width: 16px;
    height: 16px;
    cursor: pointer;
    border-radius: border-radius('circle');
    user-select: none;
    touch-action: pan-x pan-y;
    background-color: var(--bcm-color-prime-blue-6);
    z-index: var(--bcm-z-index-2);
}

.slider.horizontal {
    .thumb {
        top: 50%;
        left: 0;
        transform: translateX(-8px) translateY(-50%);
    }
}

.slider.vertical {
    .thumb {
        top: 0;
        left: 50%;
        transform: translateX(-50%) translateY(-8px);
    }
}

/**
 * Fill Rules
 */
.fill {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    background-color: var(--bcm-color-prime-blue-6);
    z-index: var(--bcm-z-index-1);
}


.slider.horizontal {
    .fill {
        height: 100%;
    }
}

.slider.vertical {
    .fill {
        width: 100%;
    }
}


/**
 * Control Button Rules
 */
.button-control {
    display: flex;
    flex: 0 0 32px;
    appearance: none;
    cursor: pointer;
    outline: none;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease;
    box-shadow: 0px 2px 4px rgba(54, 121, 171, 0);
    border-radius: border-radius('circle');
    background-color: var(--bcm-color-white);
    border: 1px solid var(--bcm-color-grey-5);
    color: var(--bcm-color-grey-8);
    -webkit-tap-highlight-color: transparent;
    @include fix-size(32px);
    &:hover {
        border-color: var(--bcm-color-prime-blue-7);
        color: var(--bcm-color-prime-blue-7);
        box-shadow: 0px 2px 4px rgba(54, 121, 171, 0.5);
    }
    &:active {
        border-color: var(--bcm-color-prime-blue-6);
        color: var(--bcm-color-prime-blue-6);
        box-shadow: 0px 2px 4px rgba(54, 121, 171, 0);
    }
}