:host {
    display: inline-block;
}

.anchor {
    text-decoration: none;
    color: var(--bcm-color-grey-7);
    display: inline-flex;
    font-size: 14px;
    width: 100%;

    bcm-icon {
        margin-right: 4px;
    }

    &:hover {
        color: var(--bcm-color-prime-blue-6);
    }

    &:active {
        color: var(--bcm-color-grey-8);
    }
}