.radio-group {
    display: flex;
    
    &.horizontal {
        flex-direction: row;

        ::slotted(bcm-radio:not(:last-of-type)) {
            margin-right: space('xs');
        }

        bcm-radio:not(:last-of-type) {
            margin-right: space('xs');
        }
    }
    &.vertical {
        flex-direction: column;

        ::slotted(bcm-radio:not(:last-of-type)) {
            margin-bottom: space('xs');
        }

        bcm-radio:not(:last-of-type) {
            margin-bottom: space('xs');
        }
    }
}