// Font

$font-roboto: 'Roboto', sans-serif;

$font-regular: 400;
$font-semibold: 500;

// Sizes

$sizes: (
    "1" 12px,
    "2" 14px,
    "3" 16px,
    "4" 20px,
    "5" 24px,
    "6" 30px,
    "7" 38px,
    "8" 46px,
    "9" 56px,
);

@each $name, $size in $sizes {
    .size-#{$name} {
        font-size: $size;
        line-height: $size + 8;
    }
}